[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/hugo-simplecss"]
	path = themes/hugo-simplecss
	url = https://github.com/splch/hugo-simplecss.git
